#Header {
	background-color: yellow;
}

#LeftPanel {
	background-color: green;
	width: 25%;
	float: left;
}

#Header::after {
	content: '';
	clear: Both;
	display: Block;
}

#Content {
	background-color: pink;
	width: 50%;
	float: left;
}

#RightPanel {
	background-color: red;
	width: 25%;
	float: left;
}

#Footer {
	background-color: orange;
}

#Header .menu li {
	list-style-type: none;
	float: Left;
	border-right: 2px solid blue;
	padding-right: 50px;
	padding-left: 50px;
}

#Footer::before {
	content: '';
	clear: Both;
	display: Block;
}